{
  "$schema": "https://opencode.ai/config.json",
  "agent": {
    "assistant": {
      "mode": "primary",
      "prompt": "{file:./prompts/assistant.txt}",
      "tools": {
        "question": false,
      },
      "temperature": 0.1,
      "steps": 10,
      "description": "General-purpose assistant",
    },
  },
  "default_agent": "assistant",
  "permission": {
    "external_directory": "deny",
    "doom_loop": "deny",
  },
  "mcp": {
    "graph-memory": {
      "type": "local",
      "command": ["bunx", "-y", "@modelcontextprotocol/server-memory"],
      "enabled": true,
      "environment": {
        "MEMORY_FILE_PATH": "<PWD>/.opencode/memory.jsonl"
      }
    },
    "brave-search": {
      "type": "local",
      "command": [
        "bunx",
        "-y",
        "@brave/brave-search-mcp-server",
        "--transport",
        "stdio",
      ],
      "enabled": true,
      "environment": {
        "BRAVE_API_KEY": "<BRAVE_API_KEY>",
      },
    },
    "chrome-devtools": {
      "type": "local",
      "command": ["bunx", "chrome-devtools-mcp@latest"],
      "enabled": true,
    },
  }
}
